<div class="fixed">
   <header>
      <div class="nav-bar">
         <div class="logoContainer">
            <a href="/" class="logoContainer"><img src="/images/logo-light.png" alt=""></a>
         </div>
         <div class="searchContainer">
            <div class="d1">
               <form action="/books/search" method="POST">
                  <input type="text" name="title" placeholder="Искать здесь..." />
                  <button type="submit"></button>
               </form>
            </div>
         </div>
         <div class="userContainer">
            <div class="like">

            </div>
             {{#if user}}
            {{#if user.avatarUrl}}
            <a href="/profile" class="profileImg">
               <img src="/{{user.avatarUrl}}" />
            </a>
            {{/if}}
            {{else}}
            <h6>
               <a href="/auth/login">Авторизация</a>
            </h6>
            {{/if}}
         </div>
      </div>
   </header>
</div>
<main>
<div class="bookCard1">
			<div class="bookImage">
				<div class="bookBorder">
					<img src="/{{previewUrl}}">
				</div>
			</div>
			<div class="bookINFO">
				<div class="bookTITLE">
					<h4>{{title}} ({{year}}, {{author}})</h4>
				</div>
				<div class="bookREV">
					<p>{{about}}
					</p>
				</div>
				<div class="bookNAL">
					В наличии {{inAvailable}}
				</div>
			</div>
		</div>
		</main>
<footer>
   <section class="socialMedia">
			<a href="">
				<i
                     class="fa fa-instagram"
                     aria-hidden="true"
                  ></i>
			</a>
			<a href="">
				<i
                     class="fa fa-twitter"
                     aria-hidden="true"
                  ></i>
			</a>
			<a href="">
				<i
                     class="fa fa-facebook"
                     aria-hidden="true"
                  ></i>
			</a>
			<a href="">
				<i
                     class="fa fa-vk"
                     aria-hidden="true"
                  ></i>
			</a>
			<a href="">
				<i
                     class="fa fa-telegram"
                     aria-hidden="true"
                  ></i>
			</a>
		</section>
		<ul class="feedback">
			<li>
				Реклама
			</li>
			<li>
				Соглашение
			</li>
			<li>
				Предложения
			</li>
			<li>
				Служба поддержки
			</li>
		</ul>
		<div class="line">
			
		</div>
		<section class="info">
			<div class="year">
				<a href="#">2022 Oculus</a>
			</div>
			<div class="none">
				
			</div>
			<div class="myCompany">
				<a href="#">2022 Oculus</a>
			</div>
		</section>
</footer>