<div class="course">
   <h1>{{title}}</h1>
   <h2>{{author}}</h2>
   <p>{{isAvailable}} в наличии</p>
   <div class="card-image">
   <img src="/{{previewUrl}}" alt="{{title}}">

   </div>
   <p>{{about}}</p>

</div>