<div class="fixed">
   <header>
      <div class="nav-bar">
         <div class="logoContainer">
            <a href="/" class="logoContainer"><img src="/images/logo-light.png" alt=""></a>
         </div>
         <div class="searchContainer">
            <div class="d1">
               <form action="/books/search" method="POST">
                  <input type="text" name="title" placeholder="Искать здесь..." />
                  <button type="submit"></button>
               </form>
            </div>
         </div>
         <div class="userContainer">
            <div class="like">

            </div>
             {{#if user}}
            {{#if user.avatarUrl}}
            <a href="/profile" class="profileImg">
               <img src="/{{user.avatarUrl}}" />
            </a>
            {{/if}}
            {{else}}
            <h6>
               <a href="/auth/login">Авторизация</a>
            </h6>
            {{/if}}
         </div>
      </div>
   </header>
</div>
<main>
<div class="bookCard1">
			<div class="bookImage">
				<div class="bookBorder">
					<img src="/{{previewUrl}}">
				</div>
			</div>
			<div class="bookINFO">
				<div class="bookTITLE">
					<h4>{{title}} ({{year}}, {{author}})</h4>
				</div>
				<div class="bookREV">
					<p>{{about}}
					</p>
				</div>
				<div class="bookNAL">
					В наличии {{inAvailable}}
				</div>
			</div>
		</div>
		</main>