<div class="fixed">
   <header>
      <div class="nav-bar">
         <div class="logoContainer">
            <a href="/" class="logoContainer"><img src="/images/logo-light.png" alt=""></a>
         </div>
         <div class="searchContainer">
            <div class="d1">
               <form action="/books/search" method="POST">
                  <input type="text" name="title" placeholder="Искать здесь..." />
                  <button type="submit"></button>
               </form>
            </div>
         </div>
         <div class="userContainer">
            <div class="like">

            </div>
             {{#if user}}
            {{#if user.avatarUrl}}
            <a href="/profile" class="profileImg">
               <img src="/{{user.avatarUrl}}" />
            </a>
            {{else}}
            <a href="/profile" class="profileImg splash">
               <img src="images/plus.png" />
            </a>
            {{/if}}
            {{else}}
            <h6>
               <a href="/auth/login">Авторизация</a>
            </h6>
            {{/if}}
         </div>
      </div>
   </header>
</div>
<main class="profileMain">
		<div class="mainPage">
			<div class="centered profile">
				<div class="logo">
                {{#if user.avatarUrl}}
					<a href="" class="Avatar">
						
                  <img
                     class="avatar"
                     src="/{{user.avatarUrl}}"
                     alt="аватар-{{user.name}}"
                  />
                  </a>
                   {{else}}
                     <p>Аватара нет</p>
     
					
                {{/if}}
				</div>
				<div class="rega">
					
         <p><b>{{user.name}}</b></p>
         <p><strong>{{user.email}}</strong></p>
            <form action="/profile/settings/{{user._id}}" method="POST" enctype="multipart/form-data">
         <div class="file-field input-field">
            <div class="btn --orange">
               <span>Загрузить аватар</span>
               <input type="file" name="avatar">
            </div>
            
            <div class="file-path-wrapper">
               <input class="file-path validate" type="text">
            </div>
         </div>

         <button type="submit" class="btn">Сохранить изменения</button>
      </form>
				</div>
            <div class="login">
               <div class="txt">
                  <a href="settings/{{user._id}}">
                                       Настройки
                                    </a>
               </div>
            </div>
				<div class="logIn">
					<div class="txt">
						<a href="/auth/logout">
							Выйти
						</a>
					</div>
				</div>
			</div>
		</div>
	</main>

