<div>
   <div class="col s6 avatar-container">
      {{#if user.avatarUrl}}
         <img
            class="avatar"
            src="/{{user.avatarUrl}}"
            alt="аватар-{{user.name}}"
         />
      {{else}}
         <p>Аватара нет</p>
      {{/if}}
   </div>

   <div class="col s6">
      <div class="profile-info">
         <div class="user-name"><b>{{user.name}}</b></div>
         <p><strong>{{user.email}}</strong></p>
      </div>

      <a href="profile/settings/{{user._id}}">Настройки</a>

   </div>
</div>