<div>
   <div class="col s6 avatar-container">
      {{#if user.avatarUrl}}
         <img
            class="avatar"
            src="/{{user.avatarUrl}}"
            alt="аватар-{{user.name}}"
         />
      {{else}}
         <p>Аватара нет</p>
      {{/if}}
   </div>

   <div class="col s6">
      <div class="profile-info">
         <div class="user-name"><b>{{user.name}}</b></div>
         <p><strong>{{user.email}}</strong></p>
      </div>

      <a href="profile/settings/{{user._id}}">Настройки</a>

      {{#if isLibrarian}}
         <h3>Добавить книгу</h3>
         <form action="/add" method="POST" enctype="multipart/form-data"> 
            <div class="input-field">
               <input
                  id="title"
                  name="title"
                  type="text"
                  class="validate"
                  required
               />
               <label for="title">Название</label>
               <span class="helper-text" data-error="Название"></span>
            </div>

            <div class="input-field">
               <input
                  id="author"
                  name="author"
                  type="text"
                  class="validate"
                  required
               />
               <label for="author">Автор</label>
               <span class="helper-text" data-error="Автор"></span>
            </div>

            <div class="input-field">
               <input
                  id="genre"
                  name="genre"
                  type="text"
                  class="validate"
                  required
               />
               <label for="genre">Жанр</label>
               <span class="helper-text" data-error="Жанр"></span>
            </div>

            <div class="input-field col s12">
               <textarea
                  id="about"
                  name="about"
                  class="materialize-textarea"
                  required
               ></textarea>
               <label for="about">Описание</label>

               <span
                  class="helper-text"
                  data-error="Введите содержание отрывка"
               ></span>
            </div>

            <div class="input-field">
               <input
                  id="url"
                  name="url"
                  type="text"
                  class="validate"
               />
               <label for="url">URL</label>
               <span class="helper-text" data-error="URL"></span>
            </div>

            <div class="file-field input-field">
            <div class="btn">
               <span>Добавить превью</span>
               <input type="file" name="preview">
               <i class="fa fa-check-square-o" aria-hidden="true"></i>
            </div>
            
            <div class="file-path-wrapper">
               <input class="file-path validate" type="text">
            </div>
         </div>

            <div class="input-field checkbox-wrapper">
               <label>
                  <input name="isAvailable" type="checkbox" class="filled-in" checked/>
                  <span>В наличии</span>
               </label>
            </div>


            <button type="submit" class="btn">Добавить</button>
         </form>
      {{/if}}

   </div>
</div>